<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

  <div class="container">
      <nav class="nav navbar-default">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</li></a>
          <li><a href="#">About</li></a>
          <li><a href="#">Contact</li></a>
        </ul>
      </nav>
    <%= yield %>
  </div>

<%= javascript_include_tag "application" %>
</body>
</html>
